/* body {
  background-color: white;
} */

h2 {
  margin: 10px 10px;
  display: inline-block;
  background-color: rgb(242, 246, 246);
  border-radius: 25px;
  font-size: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.931);
}
h2 img {
  margin: 5px solid black;
  border-radius: 50%;
  height: 180px;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}