.App {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
}

.bg-ligth {
  background-color: #FAFAFA;
  color: #252525;
}

.bg-dark {
  background-color: #252525;
  color: #252525;
}
